{% extends 'layouts/base.html' %}

{% block content %}
<h1>Settings: Dr. Pepper </h1>
<form>
    <div class="mb-3">
        <div class="error-message"><span> Sorry, this login is not valid! </span></div>
        <label for="exampleInputEmail1" class="form-label">Login</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <div class="error-message"><span> Sorry, this email address is already registered! </span></div>
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <div class="error-message"><span> Sorry, this nickname is already taken! </span></div>
        <label for="exampleInputPassword1" class="form-label">Nickname</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload avatar</label>
        <input type="file" class="form-control" id="inputGroupFile01">
    </div>
    <div class="mb-3 form-check">
    </div>
    <button type="submit" class="btn btn-primary margin-top-savebutton">Save</button>
</form>
{% endblock %}