{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row question-on-page">
    <div class="col-3">
        <img src="{% static 'img/kit.jpeg' %}" alt="" class="question-image">
        <span>Question by {{question.get_username}} </span>
        <button class="counter like_question" data-id="">
            <img src="{% static 'img/heart.svg' %}" alt="heart">
             <span>{{question.get_like_count}}</span>
        </button>

    </div>
    <div class="col-9">
        <div class="question-title"> {{question.title}}</div>
        <div class="question-text"> {{question.text}}</div>
        <div class="row align-items-end question-meta">
            <div class="col mb-5">
                <span class="tags_title_page3">Tags: </span>
                <div class="question-tags">
                    {% for tag in question.get_tags %}
                    <a class="tag_in_question" href="{% url 'tag' tag_label=tag%}">{{tag.title}}</a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</div>
<div>
    <h2> <a name="answers_block">Answers</a> </h2>
    {% for answer in content %}
        {% include 'components/answer.html' %}
    {% endfor %}
    {% include 'components/paginator.html' %}
</div>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label-page3">Answer a question</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
</div>
<button type="button" class="btn btn-secondary">Answer</button>
{% endblock %}