{% extends 'layouts/base.html' %}
{% block content %}

<h1>New question</h1>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"
           placeholder="Your question">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Text</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Tags</label>
    <input type="email" class="form-control" id="exampleFormControlInput2"
           placeholder="moon, park, puzzle">
</div>

{% endblock %}