{% load static %}
<div class="row question">
    <div class="col-3">
        <img src="{% static 'img/kit.jpeg' %}" alt="" class="question-image">
        <span>Question by {{question.get_username}} </span>
        <button class="counter like_question" data-id="">
            <img src="{%static 'img/heart.svg' %}" alt="heart">
            <span>{{question.get_like_count}}</span>
        </button>

    </div>
    <div class="col-9">
        <div class="question-title"><a href="{% url 'question' q_id=question.id %}"> {{ question.title }}</a></div>
        <div class="question-text">{{ question.text }}
        </div>
        <div class="row align-items-end question-meta">
            <div class="col mb-5">
                <a href="{% url 'question' q_id=question.id %}#answers_block"> Answers
                    {{question.get_answer_count}}</a>
            </div>
            <div class="col mb-5">
                <span class="tags_title">Tags: </span>
                <div class="question-tags">
                    {% for tag in question.get_tags %}
                     <a class="tag_in_question" href="{% url 'tag' tag_label=tag%}">{{tag.title}}</a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</div>